.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #1e293b;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-auth button {
  padding: 8px 15px;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.nav-auth button:hover {
  background: #0ea5e9;
}